/* styleGastos.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

#mostrar-Gastos, #mostrar-Ingresos {
    background-color: #ffffff;
    border: 2px solid #008080;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

#mostrar-Gastos .Gasto, #mostrar-Ingresos .Ingreso {
    background-color: #f9f9f9;
    border: 1px solid #008080;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#mostrar-Gastos .Gasto:hover, #mostrar-Ingresos .Ingreso:hover {
    background-color: #e0f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#mostrar-Gastos .Gasto p, #mostrar-Ingresos .Ingreso p {
    margin: 0;
    color: #333;
    font-weight: bold;
}

#mostrar-Ingresos {
    border-color: #004d4d; /* Verde más oscuro para ingresos */
}

#mostrar-Ingresos .Ingreso {
    border-color: #004d4d; /* Borde verde oscuro */
}
